<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <title>Vue 101</title>
    </head>
    <body>
        <h1>Hello, world!</h1>
        <div id="app">
            <p>My local property: {{ myLocalProperty }}</p>
            <hr />
            <button @click="buttonClicked">
                Click Me
            </button>
            <hr />
            <p v-if="randomNumber >= 50">
                randomNumber is greater than or equal to 50!
            </p>
            <p v-else>
                Sorry, randomNumber is only <strong>{{ randomNumber }}</strong>
            </p>

            <h2>Games (v-for)</h2>
            <ul>
                <li v-for="game in games">{{ game }}</li>
            </ul>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script>
            const app = new Vue({
                el: "#app",
                data: {
                    myLocalProperty: "I'm a local property value",
                    randomNumber: 0,
                    games: [
                        {
                            name: "Super Mario 64",
                            console: "Nintendo 64",
                            rating: 4
                        },
                        {
                            name: "The Legend of Zelda Ocarina of Time",
                            console: "Nintendo 64",
                            rating: 5
                        },
                        {
                            name: "Secret of Mana",
                            console: "Super Nintendo",
                            rating: 4
                        },
                        { name: "Fallout 76", console: "Multiple", rating: 1 },
                        {
                            name: "Super Metroid",
                            console: "Super Nintendo",
                            rating: 6
                        }
                    ]
                },
                methods: {
                    buttonClicked() {
                        this.randomNumber = Math.floor(Math.random() * 100);
                    }
                }
            });
        </script>
    </body>
</html>
